<div class="eqLogic eqLogic-widget #class# #category#" data-eqLogic_id="#id#" data-eqType="#eqType#"
	data-version="#version#" data-eqLogic_uid="#uid#" data-translate-category="#translate_category#"
	data-category="#category#" data-tags="#tags#" style="#style#">
	<center>
		<span class="widget-name">
			<span class="panelLink pull-left cursor">
				<a class="link" href="#panelLink#"><i class="fas fa-external-link-alt"></i></a>
			</span>
			<span class="warning" title="#alert_name#">
				<i class='#alert_icon#'></i>
			</span>
			<span>#name_display# <span class="object_name">#object_name#</span></span><br />
		</span>
		<div style="font-size:0.95em; line-height:1.1em; padding:3px 0 0 5px; margin:0;height:100%;position:relative">
			<p class="state" style="height:calc(100% - 26px); overflow-y:scroll;text-align:left;font-size:13px; font-family: CamingoCode, monospace;">#logContent#</p>
		</div>
	</center>
	<script>
		if ('#panelLink#' == '') {
			$('.eqLogic[data-eqLogic_uid=#uid#] .panelLink').remove()
		} else {
			let href = $('.eqLogic[data-eqLogic_uid=#uid#] .panelLink a').attr('href');
			$('.eqLogic[data-eqLogic_uid=#uid#] .panelLink a').attr('data-page', getUrlVars('p', href));
			$('.eqLogic[data-eqLogic_uid=#uid#] .panelLink a').attr('data-plugin', getUrlVars('m', href));
			$('.eqLogic[data-eqLogic_uid=#uid#] .panelLink a').attr('data-title', 'panel');
			$('.eqLogic[data-eqLogic_uid=#uid#] .panelLink a').attr('href', null)
		}
	</script>
</div>